/*
  Carousel CSS
*/

.carousel {
  position: relative;
}

.carousel img {
  width: 63rem; /* 1280px / 2 */
  height: 42rem; /* 840px / 2 */
}

.carousel__caption {
  background-color: rgba(255, 255, 255, 0.9);
  height: 36rem; /* 720px / 2 */
  padding: 1.6rem 1.5rem 0 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25rem; /* 500px / 2 */
}

.carousel__captionText {
  font-size: 2.4rem;
}

.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 0;
}